<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="DB.Interface" value="DB.SQLserver,DB.SQLserver.ReflectionTest"/> 
    <add key="StrSql" value="Data Source=ORCL101;Persist Security Info=True;User=tdzs;Password=tdzs;Unicode=True"/>
    <!--<add key="DB.Interface" value="DB.Oracle,DB.Oracle.DBHelper"/>-->
  </appSettings>
</configuration>